@media (max-width: 500px){
    img {
        display: none;
    }
}
body {
    background-color: rgb(31, 31, 31);
    /* margin-left: auto;
    margin-right: auto; */
    margin-top:6%;
}

/* Header Div */
.header {
    margin: auto;
    padding: 0% 10%;
    max-width: 900px;
}
header {
    text-align: center;
    border: white 10px solid;
    background-color: white;
}
h3 {
    color: rgb(221, 191, 252);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.img {display:flex;}
img {max-height: 200px;}

/* Container Div*/
h1,p {
    color: rgb(53, 2, 54);
    font-size: 20px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.container {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
}

.One, .Two, .Three {
    width:200px;
    border: 10px Solid rgb(221, 191, 252); background-color: rgb(197, 140, 219);
    border-radius: 10px;
    margin: 45px;
}
/* Footer */
footer {
    text-align: center;
    color: dimgrey;
    padding-top: 4%;
}
